.post-content {
    /* background: none repeat scroll 0 0 #FFFFFF; */
    color: white;
    margin: auto;
    padding: auto;
    text-align: center;
    width: 95%;
    /* opacity: 0.90; */
    bottom:5px;
    left:0;
    position: absolute;
}

.post-content p a { color: white; }

div.thumbnail img {
    width:95%;
    position:relative
}